.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

#logo{
  height: 50px;
  width: auto;
  
}



.container{
  max-width: 80%;
}

.content{
  margin-top: 85px;
}
#visit{
  background-color: #f3f3f3;
}

.starter-template {
  padding: 1.5rem 1.5rem;
  text-align: center;
}

.experience{
  padding-right: 25px;
  padding-left: 25px;
}
.card{
  background-color: rgb(219, 219, 219)
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card img:hover{
  background-color: azure;
  opacity: 80%;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card-footer{
  background-color: rgb(108, 108, 211);
}

.destinations{
  background-color: #e3e7f1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.footer{
  background-color: #e3e7f1;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-logo{
  width: 50%;
  height: auto;
}






